<div class="row">
<div class="main-card mb-3 card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3"><img alt="" class="rounded-circle"
                            src="./assets/images/avatars/1.jpg" width="42"></div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Alina Mcloughlin</div>
                        <div class="widget-subheading">A short profile description</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="btn-group-sm btn-group" role="group"><button class="btn-shadow btn btn-primary"
                                type="button">Hire</button><button class="btn-shadow btn btn-primary"
                                type="button">Fire</button></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3"><img alt="" class="rounded"
                            src="./assets/images/avatars/2.jpg" width="42"></div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Ruben Tillman</div>
                        <div class="widget-subheading">Etiam sit amet orci eget eros faucibus</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="badge badge-danger">NEW</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3"><img alt="" class="rounded-circle"
                            src="./assets/images/avatars/3.jpg" width="42"></div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Vinnie Wagstaff</div>
                    </div>
                    <div class="widget-content-right"><button
                            class="btn-pill btn-hover-shine btn btn-focus btn-sm">Details</button></div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3"><img alt="" class="rounded-circle"
                            src="./assets/images/avatars/4.jpg" width="42"></div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Ella-Rose Henry</div>
                        <div class="widget-subheading">Lorem ipsum dolor sit amet, consectetuer</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="widget-numbers text-primary"><span class="count-up-wrapper">$377</span></div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3"><img alt="" class="rounded-circle"
                            src="./assets/images/avatars/5.jpg" width="42"></div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Eliot Huber</div>
                    </div>
                    <div class="widget-content-right">
                        <div class="ml-auto badge badge-pill badge-warning">43</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="widget-content-left"><img alt="" class="rounded" src="./assets/images/avatars/9.jpg"
                                width="42"></div>
                    </div>
                    <div class="widget-content-left flex2">
                        <div class="widget-heading">Product Sales</div>
                        <div class="widget-subheading opacity-10"><span class="pr-2"><b>43</b> Sales</span><span><b
                                    class="text-success">$156,24</b> Totals </span></div>
                    </div>
                    <div class="widget-content-right text-right mr-3">
                        <div><b>52,5%</b></div> YoY Growth
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left">
                        <div class="widget-heading">Product Sales</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left mr-3">
                        <div class="icon-wrapper border-light rounded m-0">
                            <div class="icon-wrapper-bg bg-light"></div><i
                                class="lnr-cog icon-gradient bg-happy-itmeo"></i>
                        </div>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Hidden Actions Pane</div>
                    </div>
                    <div class="widget-content-right widget-content-actions"><button
                            class="btn-pill btn btn-outline-primary">Follow</button></div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="widget-content p-0">
                <div class="widget-content-wrapper">
                    <div class="widget-content-left center-elem mr-2"><i class="pe-7s-file text-muted fsize-2"></i>
                    </div>
                    <div class="widget-content-left">
                        <div class="widget-heading">Example file 1</div>
                    </div>
                    <div class="widget-content-right"><button class="btn-icon btn-icon-only btn btn-link"><i
                                class="pe-7s-download fsize-2 btn-icon-wrapper"></i></button></div>
                </div>
            </div>
        </li>
    </ul>
</div>
</div>