<div class="login-form">
        <div class="imgcontainer">
            <!-- img src="./assets/images/cmc.jpg" alt="logo" class="logo"> -->
        </div>
        <div class="or-seperator"></div> <br>
        <br>
        <h2 class="text-center" style="color:#205081;">Email xác minh thành công</h2>   
        <p >Chúc mừng bạn đã tạo thành công tài khoản trên hệ thống học Online</p>
        <p>Vui lòng đăng nhập để sử dụng dịch vụ.</p> <br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary login-btn btn-block" >
            	<a style="color: #f6fcff" routerLink="/">Quay lại đăng nhập</a></button>
        </div><br>
           
    </div>
