 <div class="login-form">
        <div class="imgcontainer">
            <!-- <img src="./assets/images/cmc.jpg" alt="logo" class="logo"> -->
        </div>
        <form >
            <h2 class="text-center">Change password</h2>  
            <p class="text-center">Your password cannot be the same as your username.</p>
            <br>
            
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control mb-2" name="newpassword" placeholder="New Password" required [(ngModel)] ="user.password"
                    #newpassword="ngModel">             
                </div>
            </div>     
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control mb-2" name="confirmpassword" placeholder="Confirm new Password" required [(ngModel)] ="confirm"
                    pattern="{{user.password}}" #confirmpassword="ngModel">             
                </div>
            </div>   
            <div class="form-group">
                <button type="submit" class="btn btn-primary login-btn btn-block" (click)="onRest(user,confirm);">Save </button>
            </div>
           <!--  <div class="clearfix">
                <small>By clicking the Sign Up button, you agree to our 
                Terms & Conditions, and Privacy Policy.</small>
                <br>
            </div> -->
            <p class="text-center">Already have an account? <a href="#">Sign in here!</a></p>
            <!-- <div class="or-seperator"><i>or</i></div>
                <p class="text-center">Sign up with your social media account or email address</p> -->

            </form>

        </div>

