<app-header></app-header>
<!-- <hr> -->
<!-- content -->
<ngx-spinner>
    <p style="color: white">Loading...</p>
</ngx-spinner>
<div class="container mt-5">

    <div class="row my-3 justify-content-center">
        <div class="ct-area vc_separator ">
            <span class="vc_sep_holder vc_sep_holder_l">
                <span class="vc_sep_line"></span>
            </span>
            <h4 class="heading_font">Order History</h4>
            <span class="vc_sep_holder vc_sep_holder_r">
                <span class="vc_sep_line"></span>
            </span>
        </div>
    </div>
    <table id="cart" class="table table-hover table-condensed" *ngFor="let order of listOrder">
        <thead>
            <tr>
                <th style="width: 100%">
                    Order ID: {{order.id}}
                    <span style="font-size: 17px;"> / Status: 
                        <i *ngIf="order.status == 'done'" class="fas fa-check-circle icon-order-his" style="color: green"></i> 
                        <i *ngIf="order.status == 'pending'" class="fas fa-minus-circle icon-order-his" style="color: orange"></i>
                        <i *ngIf="order.status == 'closed'" class="fas fa-times-circle icon-order-his" style="color: red"></i>
                    </span>
                </th>
                
            </tr>
            <tr>
                <th style="width:70%">Course</th>
                <th style="width:10%">Price</th>
                <th style="width:10%">Contest</th>
                <th style="width:10%" class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of order.listCourse">
                <td data-th="Course">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs">
                            <img [src]="course.imgUrl" alt="..." class="img-responsive" />
                        </div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">{{course.name}}</h4>
                            <p>{{course.briefInfo}}</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">${{course.salePrice}}</td>
                <td data-th="Contest" class="check-contest">
                    <i class="fas fa-ban" style="color: red"></i>
                </td>

                <td data-th="Total" class="text-center">${{course.salePrice}}</td>

            </tr>

        </tbody>
    </table>

</div>
<!-- footer -->
<div class="container-fluid">
    <div class="row">
        <div class="logo-banner">
            <ul>
                <li><img src="/assets/img/logo-banner1.png"></li>
                <li><img src="/assets/img/logo-banner2.png"></li>
                <li><img src="/assets/img/logo-banner3.png"></li>
                <li><img src="/assets/img/logo-honda.png"></li>
                <li><img src="/assets/img/logo-toshiba.png"></li>
                <li><img src="/assets/img/logo-lg-cns.png"></li>
            </ul>
        </div>
    </div>
</div>

<app-footer></app-footer>