<ngx-spinner>
	<p style="color: white">Loading...</p>
</ngx-spinner>
<app-header></app-header>
<div>
	<!-- slider -->
	<div class="container-fluid">
		<!-- phan search + filter -->
		<div class="row my-3">
			<div class="col-md-4 col-sm-2 col-4 mx-5">
				<div class="selceted-categories">
					<div class="btn-group">
						<button class="btn  btn-lg dropdown-toggle" type="button" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							Categories
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" *ngFor="let category of categorys"
								(click)="onSelectCategory($event,category.id)" href="#">{{category.name}}</a>
						</div>
					</div>
				</div>

			</div>

			<div class="col-md-4 col-sm-4 col-5 offset-md-3 offset-sm-4 offset-xs-1">
				<div class="input-group">
					<input [(ngModel)]="tmpKeySearch" class="form-control" type="text" placeholder="Search.."
						name="search">
					<div class="input-group-btn">
						<button (click)="onSearch()" type="submit" class="form-control"><i
								class="fa fa-search"></i></button>
					</div>


				</div>
			</div>
			<!-- phan list course -->
		</div>
		<div class="row my-3 mt-3 justify-content-center">
			<div class="ct-area vc_separator ">
				<span class="vc_sep_holder vc_sep_holder_l">
					<span class="vc_sep_line"></span>
				</span>
				<h4 class="heading_font">Favorites Course</h4>
				<span class="vc_sep_holder vc_sep_holder_r">
					<span class="vc_sep_line"></span>
				</span>
			</div>
		</div>
		<div class="row justify-content-center mx-5 mt-5">

			<div class="col-md-3 col-sm-6 col-10"
				*ngFor="let course of courses|listCourseFilter:keySearch:selectedCategoryID:categorys">
				<div class="course">
					<!-- <figure class="effect-bubba"> -->
						<div class="effect-success">
							<div class="course-image">
								<img src={{course.imgUrl}}>
							</div>
							<div class="course-text">
								<!-- <p class="title-cour">Study Online</p> -->
								<h4>
									<span>{{course.briefInfo|stringshortpipe:"45"}}</span>
								</h4>
								<hr style="margin: 0px 0px 10px 0px">
								<div class="course-text-infor">
									<span>
										<img class="teacher-img" [src]="course.trainer.avatarUrl">
										<span style="line-height: 50px;">{{course.trainer.fullName}}</span>
									</span>
								</div>
								<div class="rank">

									<ul>
										<span class="time-cost">Rating:</span>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
										<li><i class="fa fa-star"></i></li>
									</ul>
								</div>
								<div class="clearfix"></div>
								<hr style="margin-bottom: 0px">
								<div class="course-text-content">
									<p class="time-cors">
										<span>
											<i class="far fa-clock"></i>
											<span class="time-cost">Total time:
												{{course.courselength|lengthMinuteToTimeFormat}} </span>
										</span>
									</p>
									<p class="price">
										<span class="time-cost">Cost: </span>
										<del>{{course.originPrice}}</del>
										<ins>{{course.salePrice}}</ins>
									</p>
								</div>

							</div>
						</div>
						<!-- <figcaption>
							<h5>{{course.briefInfo|stringshortpipe:"100"}}</h5>
						
							<p class="depcription">
								<strong>Description:</strong>
								{{course.description|stringshortpipe:"110"}}
							</p>
							<p class="depcription">
								<strong>Teacher: </strong>
							</p>
							<p class="depcription">
								<strong>Time: </strong> {{course.courselength|lengthMinuteToTimeFormat}}
								<i class="far fa-clock"></i>
							</p>
							<p class="depcription">
								<strong>Video: </strong> {{course.numberOfLecture}}
								<i class="fas fa-video"></i>
							</p>
							<p class="depcription">
								<strong>Cost: </strong> {{course.salePrice}}
								<i class="fas fa-dollar-sign"></i>
							</p>
						</figcaption> -->
					<!-- </figure> -->
					<div class="course-bot">
						<div class="icon"><a><i class="fas fa-heart-broken" (click)="delete(course.id)"></i></a>
						</div>

						<button class="button-default" (click)="test()">Detail</button>
					</div>
				</div>
			</div>

		</div>
		<div class="row">
			<div class="logo-banner">
				<ul>
					<li><img src="assets/listCourse/img/logo-banner1.png"></li>
					<li><img src="assets/listCourse/img/logo-banner2.png"></li>
					<li><img src="assets/listCourse/img/logo-banner3.png"></li>
					<li><img src="assets/listCourse/img/logo-honda.png"></li>
					<li><img src="assets/listCourse/img/logo-toshiba.png"></li>
					<li><img src="assets/listCourse/img/logo-lg-cns.png"></li>
				</ul>
			</div>
		</div>
	</div>

	
	<!-- footer -->
	<app-footer></app-footer>
	  
	<script type="text/javascript">

		function testConfirmDialog() {

			var result = confirm("Do you want to continue?");

			if (result) {
				alert("OK Next lesson!");
			} else {
				alert("Bye!");
			}
		}

	</script>
</div>