<div class="container">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-5">
					<h2>Menu <b>Management</b></h2>
				</div>
				<div class="col-sm-7">

					<div class="col-xs-3">
						<input class="form-control" id="ex2" type="text" placeholder="Search">
					</div>

					<a href="" class="btn btn-primary"><i class="fas fa-plus-circle"></i> <span> <b>Thêm mới nội dung</b> </span></a>
					<!-- <button class="btn aqua-gradient btn-rounded b" type="submit">Search</button>						 -->
				</div>
			</div>
		</div>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tên</th>
					<th>Parent Name</th>
					<th>Biểu tượng</th>
					<th>Link</th>
					<th>Số thứ tự</th>
					<th>Thiết lập</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td><a href="#"><img src="./assets/images/1.jpg" style="
						height: 43px;" class="avatar" alt="Avatar"> Michael Holz</a></td>
					<td>04/10/2013</td>
					<td>Admin</td>
					<td>Admin</td>

					<td>9</td>
					<td>
							<a href="#" class="edit" title="Edit" data-toggle="tooltip">
								<i class="fas fa-pen"></i>
							</a>
							<a href="#" class="settings" title="Delete" data-toggle="tooltip">
								<i class="fas fa-trash"></i>
							</a>
					</td>
				</tr>
				<tr>
					<td>2</td>
					<td><a href="#"><img src="./assets/images/1.jpg" style="
						height: 43px;" class="avatar" alt="Avatar"> Michael Holz</a></td>
					<td>05/08/2014</td>
					<td>Publisher</td>
					<td>Admin</td>

					<td>8</td>
					<td>
						<a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
								class="material-icons">&#xE8B8;</i></a>
						<a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
								class="material-icons">&#xE5C9;</i></a>
					</td>
				</tr>
				<tr>
					<td>3</td>
					<td><a href="#"><img src="./assets/images/1.jpg" style="
						height: 43px;" class="avatar" alt="Avatar"> Michael Holz</a></td>
					<td>11/05/2015</td>
					<td>Publisher</td>
					<td>Admin</td>

					<td>7</td>
					<td>
						<a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
								class="material-icons">&#xE8B8;</i></a>
						<a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
								class="material-icons">&#xE5C9;</i></a>
					</td>
				</tr>
				<tr>
					<td>4</td>
					<td><a href="#"><img src="./assets/images/1.jpg" style="
						height: 43px;" class="avatar" alt="Avatar"> Michael Holz</a></td>
					<td>06/09/2016</td>
					<td>Reviewer</td>
					<td>Admin</td>

					<td>6</td>
					<td>
						<a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
								class="material-icons">&#xE8B8;</i></a>
						<a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
								class="material-icons">&#xE5C9;</i></a>
					</td>
				</tr>
				<tr>
					<td>5</td>
					<td><a href="#"><img src="images/1.jpg" style="
						height: 43px;" class="avatar" alt="Avatar"> Michael Holz</a></td>
					<td>12/08/2017</td>
					<td>Moderator</td>
					<td>Admin</td>

					<td>5</td>
					<td>
						<a href="#" class="settings" title="Settings" data-toggle="tooltip"><i
								class="material-icons">&#xE8B8;</i></a>
						<a href="#" class="delete" title="Delete" data-toggle="tooltip"><i
								class="material-icons">&#xE5C9;</i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="clearfix">
			<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
			<ul class="pagination">
				<li class="page-item disabled"><a href="#">Previous</a></li>
				<li class="page-item"><a href="#" class="page-link">1</a></li>
				<li class="page-item"><a href="#" class="page-link">2</a></li>
				<li class="page-item active"><a href="#" class="page-link">3</a></li>
				<li class="page-item"><a href="#" class="page-link">4</a></li>
				<li class="page-item"><a href="#" class="page-link">5</a></li>
				<li class="page-item"><a href="#" class="page-link">Next</a></li>
			</ul>
		</div>
	</div>
</div>